@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap');
body {
    background-color: #1F1920;
}

a {
    text-decoration: none;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container_main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: -50px;
}

.logo {
    display: flex;
    color: #F9F6F6;
    font-family: 'Noto Sans JP', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 77px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.486);
}

.btns {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    /* margin-left: 85px; */
}

.btns a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background: #352C35;
    margin: 12px;
    border-radius: 100%;
    text-align: center;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.00);;
}

.btns a:hover {
    background: #161616;
    border: 1px solid #2b2b2b;
    box-sizing: border-box;
}

.btns a:active {
    background: #171717;
}
.btns a i {
    color: #CECECE;
    font-size: 15px;
    margin-top: 11px;
}

/*адаптация при маленькой ширине*/
@media (min-width:0px) and (max-width:891px) {
    .logo {
        justify-content: center;
        margin-top: 170px;
    }

    .btns {
        display: block;
        margin-top: 50px;
    }

    .btns a{
        display: block;
        height: 60px;
        width: 410px;
        margin: 20px;
        border-radius: 15px;
        background: #222222;
    }

    .btns a:hover{
        background: #161616;
    }

    .btns a i {
        color: #C7C7C7;
        font-size: 30px;
        margin-top: 13px;
    }
}

/**адабтация для мобильных устройств**/
@media screen and (max-device-width: 1200px) {
    .logo {
        margin-top: 170px;
        font-size: 50px;
        justify-content: center;
    }

    .btns {
        display: block;
        top: 65%;
    }

    .btns a{
        display: block;
        height: 70px;
        width: 350px;
        margin: 25px;
        border-radius: 10px;
        background: #352C35;
    }

    .btns a:hover{
        background: #161616;
        transform: scale(1);
        box-sizing: border-box;
    }

    .btns a i {
        color: #C7C7C7;
        font-size: 35px;
        margin-top: 16px;
    }
}
